<form class="form">
  <h1>Novo Técnico</h1>
  <mat-form-field class="full-width">
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Ex. Linus Torvalds" />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>CPF</mat-label>
    <input matInput placeholder="Ex. 999.999.999-99" />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Telefone</mat-label>
    <input matInput placeholder="Ex. (99) 99999-9999" />
  </mat-form-field>
  <button mat-stroked-button color="accent">CRIAR</button>
  <button mat-stroked-button color="warn" (click)="cancel()">CANCELAR</button>
</form>
